<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"
      xmlns="http://www.w3.org/1999/html">
<head>
    <link rel="stylesheet" href="../static/styles/style.css">
    <meta charset="UTF-8">
    <title>Lotto SImulator</title>
</head>
<body>


<div class="demo-wrap">


    <div class="demo-content">
        <h1>Lotto Simulator</h1>
        <h2>Choose 6 numbers</h2>


        {% for para in text %}
        <p>{{para}}</p>
        {% endfor %}

        <form action="" method="post">
            <input type="range" id="draws" name="draws" min="1" max="10">


            <label for="draws">draws</label>
            <input type="checkbox" name="number" value="1" checked> 1</input>
            <input type="checkbox" name="number" value="2">2</input>
            <input type="checkbox" name="number" value="3">3</input>
            <input type="checkbox" name="number" value="4">4</input>
            <input type="checkbox" name="number" value="5" checked>5</input>
            <input type="checkbox" name="number" value="6">6</input>
            <input type="checkbox" name="number" value="7" checked>7</input>
            <input type="checkbox" name="number" value="8">8</input>
            <input type="checkbox" name="number" value="9" checked>9</input>
            <input type="checkbox" name="number" value="10">10</input>
            <input type="checkbox" name="number" value="11" checked>11</input>
            <input type="checkbox" name="number" value="12" checked>12</input>
            <input type="checkbox" name="number" value="13">13</input>
            <input type="checkbox" name="number" value="14">14</input>
            <input type="checkbox" name="number" value="15">15</input>
            <input type="checkbox" name="number" value="16">16</input>
            <input type="checkbox" name="number" value="17">17</input>
            <input type="checkbox" name="number" value="18">18</input>
            <input type="checkbox" name="number" value="19">19</input>
            <input type="checkbox" name="number" value="20">20</input>
            <input type="checkbox" name="number" value="21">21</input>
            <input type="checkbox" name="number" value="22">22</input>
            <input type="checkbox" name="number" value="23">23</input>
            <input type="checkbox" name="number" value="24">24</input>
            <input type="checkbox" name="number" value="25">25</input>
            <input type="checkbox" name="number" value="26">26</input>
            <input type="checkbox" name="number" value="27">27</input>
            <input type="checkbox" name="number" value="28">28</input>
            <input type="checkbox" name="number" value="29">29</input>
            <input type="checkbox" name="number" value="30">30</input>
            <input type="checkbox" name="number" value="31">31</input>
            <input type="checkbox" name="number" value="32">32</input>
            <input type="checkbox" name="number" value="33">33</input>
            <input type="checkbox" name="number" value="34">34</input>
            <input type="checkbox" name="number" value="35">35</input>
            <input type="checkbox" name="number" value="36">36</input>
            <input type="checkbox" name="number" value="37">37</input>
            <input type="checkbox" name="number" value="38">38</input>
            <input type="checkbox" name="number" value="39">39</input>
            <input type="checkbox" name="number" value="40">40</input>
            <input type="checkbox" name="number" value="41">41</input>
            <input type="checkbox" name="number" value="42">42</input>
            <input type="checkbox" name="number" value="43">43</input>
            <input type="checkbox" name="number" value="44">44</input>
            <input type="checkbox" name="number" value="45">45</input>
            <input type="checkbox" name="number" value="46">46</input>
            <input type="checkbox" name="number" value="47">47</input>
            <input type="checkbox" name="number" value="48">48</input>
            <input type="checkbox" name="number" value="49">49</input>
            <input type="submit" name="send" value="send">
        </form>


    </div>
</div>


</body>
</html>